body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
  }


  .nav-container {
    width: 300px;
    text-align: center;
    z-index: 10;
  }

  .nav-container a {
    text-decoration: none;
    align-content: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: center;
    line-height: 40px;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.2s;
    max-width: 350px;
    height: 70px;
    margin: 10px auto;
  }

  .nav-container .Introduction{
    background: linear-gradient(90deg, #5de0e6, #004aad);
  }
  .nav-container .unit_1 {
    background: linear-gradient(90deg, #8c52ff, #5ce1e6);
  }

  .nav-container .unit_2 {
    background: linear-gradient(90deg, #8c52ff, #ff914d);
  }

  .nav-container .unit_3 {
    background: linear-gradient(90deg, #5de0e6, #004aad);
  }

  .nav-container .unit_4 {
    background: linear-gradient(90deg, #8c52ff, #ff914d);
  }

  /* Posisi gambar */
  .image-container {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .image-container img {
    display: block;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  /* Gambar home di sebelah kanan setting */
  .image-home {
    position: absolute;
    top: 10px;
    right: 55px;
    width: 40px;
    height: 40px;
  }

  /* Posisi gambar setting dan setting on */
  .image-setting {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
  }

  .image-setting-on {
    position: absolute;
    top: 10px; 
    right: 10px;
    width: 40px; 
    height: 40px; 
  }

  /* Div container untuk sound dan mute */
  .audio-controls {
    position: absolute;
    top: 55px; 
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .audio-controls img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }